<main class="main">
  <app-navbar (addButtonClicked)="addButtonClick()"></app-navbar>
  <app-filter></app-filter>
  <app-result [totalSuperHeroes]="heroes.length"></app-result>
  <div class="cards-container">
    @for (hero of heroes; track $index) {
      <app-hero-card
        [hero]="hero"
        [allPowers]="allPowers"
        (deleteHeroClicked)="handleDelete(hero.id)"
        (editHeroClicked)="editButtonClick(hero)"
      ></app-hero-card>
    } @empty {
       <app-loading [large]="true"></app-loading>
    }
  </div>
  <app-hero-modal
    [showModal]="showModal"
    [heroData]="editingHero"
    [isLoading]="isLoading"
    [allPowers]="allPowers"
    (closeModal)="handleCloseModal()"
    (saveHero)="handleSave($event)"
    (updateHero)="handleUpdate($event)"
  >
  </app-hero-modal>
</main>
