<div class="card">
  <div class="card__header">
    <div class="card__id-wrapper">
      <span class="card__id-wrapper id">ID: {{ hero.id }}</span>
    </div>
    <div class="card__actions">
      <button
        class="card__actions--edit"
        (click)="handleClickEdit(hero.id)"
      >
        <img
          class="card__actions--img"
          [ngSrc]="'assets/edit.png'"
          width="10"
          height="10"
          alt="" />
      </button>
      <button
        class="card__actions--delete"
        (click)="handleClickDelete(hero.id)"
      >
        <img
          class="card__actions--img"
          [ngSrc]="'assets/trash.png'"
          width="10"
          height="10"
          alt="" />
      </button>
    </div>
    <img
      class="card__icon"
      [ngSrc]="'assets/shield.png'"
      width="40"
      height="40"
      alt=""
    />
  </div>
  <div class="card__content">
    <div class="card__content-wrapper">
      <div class="card__title-container">
        <h3 class="card__title-container title">{{ hero.nome }}</h3>
        <div class="card__title-container subtitle-container">
          <img
            class="card__profile"
            [ngSrc]="'assets/profile.png'"
            width="20"
            height="20"
            alt=""
          />
          <span class="text">{{ hero.nomeHeroi }}</span>
        </div>
      </div>
      <div class="card__info">
        <div class="card__info--container">
          <h2>Altura</h2>
          <span>{{ hero.altura }}</span>
        </div>
        <div class="card__info--container">
          <h2>Peso</h2>
          <span>{{ hero.peso }}</span>
        </div>
      </div>
    </div>

    <div class="card__powers">
      <span class="card__powers--title">Poderes</span>
      <div class="card__powers--container">
        <span class="card__powers--item" *ngFor="let power of hero.heroisSuperPoderes">{{ power.superPoderId | superpoderNome: allPowers }}</span>
      </div>
    </div>
  </div>
</div>
