<nav class="navbar">
  <div class="navbar__brand-content">
    <div class="navbar__brand-image-wrapper">
      <img
        class="navbar__brand-image-wrapper--image"
        [ngSrc]="'assets/shield.png'"
        width="30"
        height="30"
        alt="" />
    </div>
    <div class="navbar__brand-text-wrapper">
      <h1 class="navbar__brand-text-wrapper--title">Registro de Super-Heróis</h1>
      <span class="navbar__brand-text-wrapper--subtitle">Gerencie seu banco de dados de super-heróis.</span>
    </div>
  </div>
  <button
    class="navbar__button"
    (click)="handleButtonClick()"
  >
    <img
      class="navbar__button--icon"
      [ngSrc]="'assets/plus.png'"
      width="30"
      height="30"
      alt="icon do botão de adicionar"
    >
    <span class="navbar__button--text">Adicionar Herói</span>
  </button>
</nav>
