@import "variables";

.section-result {
  width: 100%;
  padding: 2rem;

  .result {
    width: 100%;
    padding: 2rem;
    box-shadow: 0 0 0.1rem 0.1rem rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: $whiteColor;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--title {
        font-size: 2rem;
        font-weight: 500;
        color: $blackColor;
      }

      &--subtitle {
        font-size: 1.4rem;
        font-weight: 400;
        color: $grayColor;
      }

      &--result {
        font-size: 3rem;
        font-weight: 700;
        color: $primaryColor;
        text-align: end;
      }

      &--result-subtitle {
        font-size: 1.3rem;
        color: $grayColor;
      }
    }
  }
}
