// Colors
$primaryColor: #2563EB;
$secondaryColor: #9333ea;
$gradientColor: linear-gradient(90deg, $primaryColor 20%, $secondaryColor 100%);
$grayColor: #939393;
$darkGrayColor: #575757;
$whiteColor: #fff;
$bgColor: rgb(248, 248, 248);
$blackColor: #090909;

// Fonts
$primaryFont: "Open Sans";
